{% extends 'AdminBundle::layout.html.twig' %}
 {% block body %}
 <h1>Mon Profil</h1>
 <form id='monform'>
<div class="row">
<label>Nom </label>
<input type="text" placeholder="{{user.getNom()}}" id="name"/>
</div>
<div class="row">
<label>Adresse </label>
<input type="text" placeholder="{{user.getAdresse()}}"id="adresse"/>
</div>
<div class="row">
<label>Telephone </label>
<input type="number" placeholder="{{user.getNumero()}}"id="telephone"/>
</div>
<div class="row">
<label>Fax </label>
<input type="number" placeholder="{{user.getpseudo()}}" id="fax"/>
</div>
<input type="button" value="Enregistrer" onclick="enregistrerProfil();">
</form>
 {% endblock %}
{% block slide%}
<!-- slide hide-->
{% endblock slide%}
{% block javascript%}
<script>
function enregistrerProfil(){
$valide = true;
$("#monform input").each(function(){
if($(this).val() == ''){
$valide = false;
$(this).css("border","red solid 1px");
}
else{$(this).css("border","green");}
});
if($valide){
$data ={'nom':$("#name").val(),'adresse':$("#adresse").val(),'telephone':$("#telephone").val(),'fax':$("#fax").val(),};
$.ajax({
  method: "POST",
  url: "{{path('enregistrerprofilEnt')}}",
  data: $data
})
  .done(function( msg ) {
    alert( "Data Saved: " + msg );
  });
}}
</script>
{% endblock javascript%}

