{% extends '::base.html.twig' %}
{% block slide %}
{% endblock%}
{% block css %}
    <style>
        .card .time {
            right: 13%;
            background:#fff0; 
            margin-bottom: -5%;
            margin-right: -8%;
        }
        .btn btn-success btn-circle{
            margin:5%;}

    </style>
{% endblock %}
{% block body %}
    <section class="profile-nav height-50 border-bottom-1 border-grey-300  hidden-xs">
        <div class="tab-select">
            <div class="container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#tabUtilisateurs" aria-expanded="true" data-toggle="tab">Utilisateurs</a></li>
                    <li><a href="#tabEntreprises" data-toggle="tab">Entreprises</a></li>
                    <li><a href="#tabAdmin" data-toggle="tab">Admin</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="bg-grey-50">
        <div class="container">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tabUtilisateurs">
                    <div class="card-group">
                        <div class="row">
                            {% for utilisateur in utilisateurs %}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="card card-video">
                                    <div class="card-img">
                                        <a href="{{ path('user_profil', { 'id': utilisateur.id }) }}"><img src="/Test1/web/img/slideshow/1.jpg" alt=""></a>
                                        <div class="category"><span class="label label-success">{{ utilisateur.status }}</span></div>
                                        <div class="meta"><a href="#"><i class="fa fa-sitemap"></i> <span>15</span></a></div>
                                    </div>
                                    <div class="caption">
                                        <h3 class="card-title"><a href="{{ path('user_profil', { 'id': utilisateur.id }) }}">{% if utilisateur.nom %}{{ utilisateur.nom }} {{ utilisateur.prenom }} {% else %} {{ utilisateur.user.username }} {% endif %}</a></h3>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> {{utilisateur.date_membre|date('d/m/Y')}}</li>
                                            <li><i class="fa fa-eye"></i> {{ utilisateur.user.lastlogin|date('j/m/Y g:i:sa')}}</li>
                                        </ul>
                                        <ul>
                                            <li><i class="fa fa-bitcoin"></i> {{ utilisateur.coin }}</li>
                                            <li><i class="fa fa-puzzle-piece"></i> {{ utilisateur.experience}}</li>
                                        </ul>
                                        <div class="text-center" >
                                            {% if utilisateur.getStatus() != "Blocked" %}
                                            <button type="button" class="btn btn-danger btn-outline" onclick="ValidationProfil('{{ utilisateur.id }}');"><i class="fa fa-trash-o"></i></button>
                                            {% else %}
                                            <button type="button" class="btn btn-success btn-outline" onclick="ValidationProfil('{{ utilisateur.id }}');"><i class="fa fa-check"></i></button>
                                            {% endif %}
                                        </div>
                                    </div>
                                        
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabEntreprises">
                    <div class="card-group">
                        <div class="row">
                            {% for entreprise in entreprises %}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="card card-video">
                                    <div class="card-img">
                                        <a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg" alt=""></a>
                                        <div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
                                    </div>
                                    <div class="caption">

                                        <h3 class="card-title"><a href="videos-single.html">Assassin’s Creed Syndicate</a></h3>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> May 21, 2016</li>
                                            <li><i class="fa fa-eye"></i> 7168 views</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabAdmin">
                    <div class="card-group">
                        <div class="row">
                            {% for admin in admins %}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="card card-video">
                                    <div class="card-img">
                                        <a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg" alt=""></a>
                                        <div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
                                    </div>
                                    <div class="caption">

                                        <h3 class="card-title"><a href="videos-single.html">Assassin’s Creed Syndicate</a></h3>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> May 21, 2016</li>
                                            <li><i class="fa fa-eye"></i> 7168 views</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <ul class="pagination margin-top-20">
                <li><a href="#"><span>&laquo;</span></a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#">11</a></li>
                <li><a href="#"><span>&raquo;</span></a></li>
            </ul>     

        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
function ValidationProfil($id) {
                $_data = {
                    'id': $id
                };
                $.ajax({
                    type: "POST",
                    url: "{{path('activation_profil')}}",
                    data: $_data,
                    success: function () {
                        location.reload();
                    }
                });
            }
</script>
{% endblock %}
