{% extends '::dashboard.html.twig' %}
{% block Dashboard %}
    <div class="text-center"><a href="#" data-toggle="modal" data-target="#addcat" class="button pill big primary"><span class="plus icon"></span>ajouter une catégorie</a> </div>
    <div class="row">
        {%for cathegorie in cathegories%}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-img">
                        <a href="{{path('activity',{'id':cathegorie.getId()})}}"><img src="{{asset(cathegorie.getImg())}}" alt=""></a>
                        <div class="category"><span class="label label-success">Xbox</span></div>
                        <div class="meta"><a href="{{path('activity',{'id':cathegorie.getId()})}}"><i class="fa fa-heart-o"></i> <span>15</span></a></div>
                    </div>
                    <div class="caption">
                        <h3 class="card-title"><a href="{{path('activity',{'id':cathegorie.getId()})}}">{{cathegorie.getLibelle()}}</a></h3>
                        <ul><li>{{cathegorie.getDescription()}}</li></ul>
                        <div class="text-center">
                            <a href="#" class="left pill button big" style="margin-right: -4px;"><span class="pen icon"></span>Modifier</a> 
                            <a href="#" class="right negative pill button big"><span class="cross icon"></span>Supprimer</a> 
                            <!--a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a-->
                        </div>
                    </div>
                </div>
            </div>
            {#<h5>{{act.getcadeaux()}}</h5>
            {{asset('img/game/menu-1.jpg')}}
            <h5>{{act.getNbrPoint()}}</h5>
            <h5>{{act.getexperience()}}</h5>
            <h5>{{act.getdat_deb()}}</h5>
            <h5>{{act.getdat_fin()}}</h5>#}
        {% endfor %}
    </div>
    <div class="text-center"><a href="#" data-toggle="modal" data-target="#addcat" class="button pill big primary"><span class="plus icon"></span>ajouter une catégorie</a> </div>
    <div class="container modal fade" id="addcat" tabindex="-1" role="dialog" aria-labelledby="addcatLabel" >
        <div class="card card-container" style="max-width:60%">

            <form >
                <fieldset>
                    <legend>Catégories d'activite</legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Libellé<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                <input value="" name="LibelleCat" placeholder="Exemple : Jeux" id="LibelleCat" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Description<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></span>
                                <textarea name="DescriptionCat" placeholder="Exemple : Ici vous trouverez les jeux" id="DescriptionCat" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Image<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                                <input type='file' name="ImageCat" placeholder="Deposer l'image içi" id="ImageCat" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Activer ?</label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="rdio rdio-theme circle col-md-3" style="transform: scale(0.9);margin-left: 1%;">
                                <input id="radio-type-circle1" type="radio"  name="activation" value="Oui" checked>
                                <label for="radio-type-circle1">Oui</label>
                            </div>
                            <div style="transform: scale(0.9);" class="rdio rdio-theme circle col-md-3">
                                <input id="radio-type-circle2" type="radio" name="activation" value="Non">
                                <label for="radio-type-circle2">Non</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <input type="button" value="ajouter une catégorie"/>
            </form>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}