{% extends '::dashboard.html.twig' %}
{% block Dashboard %}
    <section id="boutique2ndnav" class="padding-top-25 no-padding-bottom border-bottom-1 border-grey-300" style="padding-top: 25px !important;background-color: #E0E2E0;height:60px">
        <div class="container">
            <div class="headline" style="margin-top: -16px">
                <div class="text-center">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#addcat" class="btn btn-primary btn-shadow">
                        <span class="plus icon"></span>ajouter une catégorie
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        {%for cathegorie in cathegories%}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-img">
                        <a href="{{path('activity',{'id':cathegorie.getId()})}}"><img src="{{asset(cathegorie.getImg())}}" alt=""></a>
                        <div class="category"><span class="label label-success">{{cathegorie.getStatus()}}</span></div>
                        <div class="meta"><a href="{{path('activity',{'id':cathegorie.getId()})}}"><i class="fa fa-gamepad"></i> <span>{{cathegorie.getNbrAct()}}</span></a></div>
                    </div>
                    <div class="caption">
                        <div class="text-center"> <h3 class="card-title"><a href="{{path('activity',{'id':cathegorie.getId()})}}">{{cathegorie.getLibelle()}}</a></h3></div>
                        <ul><li>{{cathegorie.getDescription()}}</li></ul>
                        <div class="text-center">
                            {%if cathegorie.getActivation() == 0%}<a href="javascript:void(0);" class="btn btn-success btn-outline" style="" onclick="ValidationCategorie({{cathegorie.getId()}});"><span class="fa fa-unlock"></span> Activer</a>{%else%}<a href="javascript:void(0);" class="btn btn-inverse btn-outline" style="" onclick="ValidationCategorie({{cathegorie.getId()}});"><span class="fa fa-lock"></span> Desactiver</a>{%endif%} 
                            <a href="javascript:void(0);" class="btn btn-primary btn-outline" style="" onclick="editModal({{cathegorie.getId()}});"><span class="fa fa-pencil"></span> Modifier</a>
                            {%if cathegorie.getStatus() != "Deleted"%} <a href="javascript:void(0);" class="btn btn-danger btn-outline" style="" onclick="DeleteCategorie({{cathegorie.getId()}});"><span class="fa fa-close"></span> Supprimer</a> {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- ---------------------- Modals ---------------------------------------------->
    <div class="modal fade bs-modal" id="addcat" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>  
                    <h4 class="modal-title">Ajouter une Catégorie d'activite</h4>
                </div>

                <div class="modal-body">
                    <form >
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Libellé<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <input value="" name="LibelleCat" placeholder="Exemple : Jeux" id="LibelleCat" class="form-control"  type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Description<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></span>
                                    <textarea name="DescriptionCat" placeholder="Exemple : Ici vous trouverez les jeux" id="DescriptionCat" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Image<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                                    <input type='file' name="ImageCat" placeholder="Deposer l'image içi" id="ImageCat" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Activer ?</label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="rdio rdio-theme circle col-md-3" style="transform: scale(0.9);margin-left: 1%;">
                                    <input id="radio-type-circle1" type="radio"  name="activation" value="1" checked>
                                    <label for="radio-type-circle1">Oui</label>
                                </div>
                                <div style="transform: scale(0.9);" class="rdio rdio-theme circle col-md-3">
                                    <input id="radio-type-circle2" type="radio" name="activation" value="0">
                                    <label for="radio-type-circle2">Non</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input id="AddCategorie" class="btn btn-primary" type="button" value="ajouter une catégorie" onclick="AjouterCategorie();"/>
                </div> 

            </div>      
        </div><!-- /card-container -->
    </div><!-- /container -->

    <!-- ------------------------------------------------------------------------------ -->

    <div class="modal fade bs-modal" id="editcat" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 id="editTitleCat" class="modal-title"></h4>
                </div>

                <div class="modal-body">
                    <form >
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Libellé<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <input value="" name="EditLibelleCat" placeholder="Exemple : Jeux" id="EditLibelleCat" class="form-control"  type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Description<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></span>
                                    <textarea name="EditDescriptionCat" placeholder="Exemple : Ici vous trouverez les jeux" id="EditDescriptionCat" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Image<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                                    <input type='file' name="EditImageCat" placeholder="Deposer l'image içi" id="EditImageCat" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Activer ?</label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="rdio rdio-theme circle col-md-3" style="transform: scale(0.9);margin-left: 1%;">
                                    <input id="Edit-radio-type-circle1" type="radio"  name="Editactivation" value="1">
                                    <label for="Edit-radio-type-circle1">Oui</label>
                                </div>
                                <div style="transform: scale(0.9);" class="rdio rdio-theme circle col-md-3">
                                    <input id="Edit-radio-type-circle2" type="radio" name="Editactivation" value="0">
                                    <label for="Edit-radio-type-circle2">Non</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input id="EditCategorieid" name="EditCategorieid" type="hidden" value=""/>
                    <input id="EditCategorie" class="btn btn-primary" type="button" value="Modifier catégorie"/>
                </div>

            </div>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}
{% block javascript %}
    <script>
        var menu = $('#boutique2ndnav');
        var origOffsetY = menu.offset().top;

        function scroll() {
            if ($(window).scrollTop() >= origOffsetY - 50) {
                $('#boutique2ndnav').css({'position': 'fixed', 'width': '100%', 'top': '60px', 'z-index': '1020'});
            } else {
                $('#boutique2ndnav').removeAttr('style');
                $('#boutique2ndnav').css({'padding-top': '25px', 'background-color': '#E0E2E0', 'height': '60px'});

            }


        }
        scroll();
        document.onscroll = scroll;
    </script>
    <script>
        function AjouterCategorie() {
            $.ajax({
                type: "POST",
                url: "{{path('add_categorie')}}",
                processData: false, contentType: false, cache: false,
                data: new FormData($('#addcat').find('form')[0]),
                success: function () {
                    location.reload();
                }
            });
        }
        function DeleteCategorie($id) {
            $_data = {
                'id': $id
            };
            $.ajax({
                type: "POST",
                url: "{{path('delete_categorie')}}",
                data: $_data,
                success: function () {
                    location.reload();
                }
            });
        }
        function ValidationCategorie($id) {
            $_data = {
                'id': $id
            };
            $.ajax({
                type: "POST",
                url: "{{path('activation_categorie')}}",
                data: $_data,
                success: function () {
                    location.reload();
                }
            });
        }

        function editModal($idcat) {
        {%for cathegorie in cathegories%}
                if ($idcat == {{cathegorie.getId()}}) {
                    $('#editTitleCat').html("Modifier Catégorie | {{cathegorie.getLibelle()}}");
                    $('#EditLibelleCat').val("{{cathegorie.getLibelle()}}");
                    $('#EditDescriptionCat').val("{{cathegorie.getDescription()}}");
                    $('#EditCategorieid').val("{{cathegorie.getId()}}");
            {%if cathegorie.getActivation() == "0"%}
                        $("#Edit-radio-type-circle1").prop('checked', false);
                        $("#Edit-radio-type-circle2").prop('checked', true);
            {%elseif cathegorie.getActivation() == "1"%}
                        $("#Edit-radio-type-circle2").prop('checked', false);
                        $("#Edit-radio-type-circle1").prop('checked', true);
            {%endif%}
                        $("#EditCategorie").attr('onclick', "ModifierCategorie()");

                        $('#editcat').modal('show');
                    }
        {% endfor %}
            }
            function ModifierCategorie() {

                $.ajax({
                    type: "POST",
                    url: "{{path('edit_categorie')}}",
                    data: new FormData($('#editcat').find('form')[0]),
                    processData: false, contentType: false, cache: false,
                    success: function () {
                        location.reload();
                    }
                });
            }
    </script>
{% endblock %}