{% trans_default_domain 'FOSUserBundle' %}
{% block css %}
    <style>
        .profile-img-card{

            margin-top:41px;}
        </style>
    {% endblock %}

    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
<form id="registerform" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="post" class="form-signin" style="width: 43%; margin-left: 29%;">
    <div class="input-group" style="margin-bottom:10px">
        <span class="input-group-addon" ><i class="glyphicon glyphicon-envelope"></i></span>   
            {{ form_widget(form.email, { 'attr': {'class': 'form-control','style':"margin-bottom:0px" , 'placeholder': 'form.email'|trans } }) }}

    </div>
    <span id="loginerror" style="color:red"> {{ form_errors(form.email) }}</span>

    <div class="input-group" style="margin-bottom:10px">
        <span class="input-group-addon" ><i class="glyphicon glyphicon-user"></i></span>
            {{ form_widget(form.username, { 'attr': {'class': 'form-control','style':"margin-bottom:0px" , 'placeholder': 'form.username'|trans } }) }}

    </div>  
    <span id="loginerror" style="color:red"> {{ form_errors(form.username) }}</span>

    <div class="input-group" style="margin-bottom:10px">
        <span class="input-group-addon" ><i class="glyphicon glyphicon-lock"></i></span>
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control','style':"margin-bottom:0px" , 'placeholder': 'form.password'|trans } }) }}

    </div>
    <span id="loginerror" style="color:red">{{ form_errors(form.plainPassword.first) }}</span>
    <div class="input-group" style="margin-bottom:10px">
        <span class="input-group-addon" ><i class="glyphicon glyphicon-lock"></i></span>
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control','style':"margin-bottom:0px" , 'placeholder': 'form.password_confirmation'|trans } }) }}

    </div>
    <span id="loginerror" style="color:red"> {{ form_errors(form.plainPassword.second) }}</span>
    {{ form_rest(form) }}
    <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="{{ 'registration.submit'|trans }}">
    <!--span id="reauth-email" class="reauth-email"></span-->





</form><!-- /form -->
<p id="profile-name" class="profile-name-card" style="    margin-bottom: 20px;">Vous avez un compte ? <a href="javascript:void(0);" data-toggle="modal" data-target="#login-modal" class="forgot-password" data-dismiss="modal">
        se connecter !</a></p>
