{% extends '::base.html.twig' %}

{% block slide %}

{% endblock%}

{% block wrapper %}
    {% if is_granted('ROLE_ADMIN')%}
        <section id="boutique2ndnav" class="padding-top-25 no-padding-bottom border-bottom-1 border-grey-300" style="padding-top: 25px !important;height:60px">
            <div class="container">
                <div class="headline" style="margin-top: -16px">
                    <div class="text-center">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#addPub" class="btn btn-primary btn-shadow">
                            <span class="plus icon"></span>Ajouter une Publicité
                        </a> 
                    </div>

                </div>
            </div>
        </section>
    {% endif %}
    <section class="bg-grey-50" style="padding-top: 1%">
        <div class="container">
            <div class="row" id="pubsnumber">
                {%for pub in pubs%}
                    {%if is_granted('ROLE_ADMIN') %}
                        <div class="count col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="card">
                                <div class="card-img">
                                    <img src="{{asset(pub.getChemin())}}" alt="" class="boutique_act">
                                    <div class="category"><span class="label label-success">{{pub.getStatus()}}</span></div>
                                </div>
                                <div class="caption">
                                    <div class="text-center"><h3 class="card-title">{{pub.entreprise.nom}}</h3></div>
                                    <ul>
                                            <li><i class="fa fa-clock-o"></i> {{pub.dateDebut|date('d/m/Y')}}</li>
                                            <li><i class="fa fa-eye"></i> {{ pub.dateFin|date('d/m/Y')}}</li>
                                    </ul>
                                    <div class="text-center">
                                        <a href="javascript:void(0);" class="btn btn-success btn-outline" style="" onclick="DureeModalPub({{pub.getId()}});"><span class="fa fa-cubes"></span> Durée</a> 
                                        <a href="javascript:void(0);" class="btn btn-primary btn-outline" style="" onclick="EditModalPub({{pub.getId()}});"><span class="fa fa-pencil"></span> Modifier</a>
                                        {%if pub.getStatus() != "Deleted" %}<a href="javascript:void(0);" class="btn btn-danger btn-outline" style="" onclick="DeletePub({{pub.getId()}});"><span class="fa fa-close"></span> Supprimer</a> {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%elseif (is_granted('ROLE_ENTREPRISE') and pub.getStatus() != "Deleted" and pub.entreprise == app.user.entreprise)%}
                        <div class="count col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="card">
                                <div class="card-img">
                                    <img src="{{asset(pub.getChemin())}}" alt="" class="boutique_act">
                                    <div class="category"><span class="label label-success">{{pub.getStatus()}} </span></div>
                                </div>
                                <div class="caption">
                                    <ul>
                                            <li><i class="fa fa-clock-o"></i> {{pub.dateDebut|date('d/m/Y')}}</li>
                                            <li><i class="fa fa-eye"></i> {{ pub.dateFin|date('d/m/Y')}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}	
            </div>

              <div class="text-center">
                <div id="pubpagination">
                </div>
                <select id="nombreaffichagepub">
                    <option selected value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
    </section>

  {%if is_granted('ROLE_ADMIN') %}
    <!-- ---------------------- Modals ---------------------------------------------->
    <div class="bs-modal modal fade" id="addPub" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Ajouter une Puplicité</h4>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Entreprise<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <select id="PubEntreprise" name="PubEntreprise" class="form-control input-md" placeholder="Entreprise">
                                        {%for entreprise in entreprises%}
                                        <option value="{{ entreprise.id}}">{{ entreprise.nom}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Pub<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                                    <input type='file' name="PubChemin" placeholder="Deposer le fichier içi" id="PubChemin" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Type<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                                     <select id="PubType" name="PubType" class="form-control input-md" placeholder="Entreprise">
                                        <option value="Slide">Slide</option>
                                        <option value="Gauche">Gauche</option>
                                        <option value="Droite">Droite</option>
                                        <option value="SA">Spéciale Activité</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Date début<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                    <input value="" name="PubDate_debut" placeholder="Quantité en stock" id="PubDate_debut" class="form-control"  type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Date fin<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                    <input value="" name="PubDate_fin" placeholder="Quantité en stock" id="PubDate_fin" class="form-control"  type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Prix<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                    <input value="" name="PubPrix" placeholder="Prix réel du produit" id="PubPrix" class="form-control"  type="text">
                                </div>
                            </div>
                        </div>
                                    <div class="form-group">
                        <label class="col-md-4 control-label">Important ?</label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="rdio rdio-theme circle col-md-3" style="transform: scale(0.9);margin-left: 1%;">
                                <input id="pub-radio-type-circle1" type="radio"  name="Importantpub" value="Important">
                                <label for="pub-radio-type-circle1">Oui</label>
                            </div>
                            <div style="transform: scale(0.9);" class="rdio rdio-theme circle col-md-3">
                                <input id="pub-radio-type-circle2" type="radio" name="Importantpub" value="NoImportant" checked>
                                <label for="pub-radio-type-circle2">Non</label>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input id="AddPub" class="btn btn-primary" type="button" value="ajouter une publicité" onclick="AjouterPub();"/>
                </div>
            </div>
        </div><!-- /card-container -->
    </div><!-- /container -->

    <!-- ------------------------------------------------------------------------------ -->

    <div class="bs-modal modal fade" id="DureePub" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 id="DureePubTitle" class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <form>
                    <div class="form-group">
                            <label class="col-md-4 control-label" >Date début<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                    <input value="" name="DureePubDate_debut" placeholder="Quantité en stock" id="DureePubDate_debut" class="form-control"  type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Date fin<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                    <input value="" name="DureePubDate_fin" placeholder="Quantité en stock" id="DureePubDate_fin" class="form-control"  type="text">
                                </div>
                            </div>
                        </div>
                            </form>
                </div>
                    <div class="modal-footer">
                <input id="dureepub" class="btn btn-primary" type="button" value="sauvegarder" />
            </div>
            </div>
        </div><!-- /card-container -->
    </div><!-- /container -->

    <!-- ------------------------------------------------------------------------------ -->

    <div class="bs-modal modal fade" id="editPub" tabindex="-1" role="dialog">
         <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 id="editPubTitle" class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <form >
                            <input id="EditPubid" name="EditPubid" type="hidden" value=""/>
                    <div class="form-group">
                            <label class="col-md-4 control-label" >Entreprise<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <select id="EditPubEntreprise" name="EditPubEntreprise" class="form-control input-md" placeholder="Entreprise">
                                        {%for entreprise in entreprises%}
                                        <option value="{{ entreprise.id}}">{{ entreprise.nom}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Pub<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                                    <input type='file' name="EditPubChemin" placeholder="Deposer le fichier içi" id="EditPubChemin" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Type<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                                     <select id="EditPubType" name="EditPubType" class="form-control input-md" placeholder="Entreprise">
                                        <option value="Slide">Slide</option>
                                        <option value="Gauche">Gauche</option>
                                        <option value="Droite">Droite</option>
                                        <option value="SA">Spéciale Activité</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Date début<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                    <input value="" name="EditPubDate_debut" placeholder="Quantité en stock" id="EditPubDate_debut" class="form-control"  type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Date fin<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                    <input value="" name="EditPubDate_fin" placeholder="Quantité en stock" id="EditPubDate_fin" class="form-control"  type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Prix<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                    <input value="" name="EditPubPrix" placeholder="Prix réel du produit" id="EditPubPrix" class="form-control"  type="text">
                                </div>
                            </div>
                        </div>
                                    <div class="form-group">
                        <label class="col-md-4 control-label">Important ?</label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="rdio rdio-theme circle col-md-3" style="transform: scale(0.9);margin-left: 1%;">
                                <input id="edit-pub-radio-type-circle1" type="radio"  name="EditImportantpub" value="Important">
                                <label for="edit-pub-radio-type-circle1">Oui</label>
                            </div>
                            <div style="transform: scale(0.9);" class="rdio rdio-theme circle col-md-3">
                                <input id="edit-pub-radio-type-circle2" type="radio" name="EditImportantpub" value="NoImportant" checked>
                                <label for="edit-pub-radio-type-circle2">Non</label>
                            </div>
                        </div>
                    </div>
                </form>
                        </div>
                    <div class="modal-footer">
                <input id="EditPub" class="btn btn-primary" type="button" value="Modifier produit" />
            </div>
             </div>
        </div><!-- /card-container -->
    </div><!-- /container -->
{%endif %}
    
    <!-- ------------------------------------------------------------------------------ -->
{% endblock %}
{% block javascript %}
    {%if is_granted('ROLE_ADMIN') %}
    <script>
        var menu = $('#boutique2ndnav');
        var origOffsetY = menu.offset().top;
        function scroll() {
        if ($(window).scrollTop() >= origOffsetY - 50) {
        $('#boutique2ndnav').css({'position': 'fixed', 'width': '100%', 'top': '60px', 'z-index': '1020'});
        } else {
        $('#boutique2ndnav').removeAttr('style');
        $('#boutique2ndnav').css({'padding-top': '25px', 'background-color': '#FFFFFF', 'height': '60px'});
        }


        }
        scroll();
        document.onscroll = scroll;
    </script>
    {%endif%}
    <script>
        {%if is_granted('ROLE_ADMIN') %}
        function AjouterPub() {
        $.ajax({
                type: "POST",
                url: "{{path('add_pub')}}",
                data: new FormData($('#addPub').find('form')[0]),
                processData: false, contentType: false, cache: false,
                success: function () {
                location.reload();
                }
        });
        }
        function DeletePub($id) {
        $_data = {
        'id': $id
        };
        $.ajax({
        type: "POST",
                url: "{{path('delete_pub')}}",
                data: $_data,
                success: function () {
                location.reload();
                }
        });
        }
        
        function DureeModalPub($idPub) {
        {%for pub in pubs%}
            if ($idPub == {{pub.getId()}}) {
            $('#DureePubTitle').html("Modifier Duree Publicité | {{pub.entreprise.nom}}");
            $("#dureepub").attr('onclick', "DureePub('{{pub.getId()}}')");
            $('#DureePub').modal('show');
            }
        {% endfor %}
            }

            function DureePub($idPub) {
            $_data = {
                'idPub': $idPub,
                'Date_debut': $('#DureePubDate_debut').val(),
                'Date_fin': $('#DureePubDate_fin').val()
            };
            $.ajax({
                type: "POST",
                url: "{{path('duree_pub')}}",
                data: $_data,
                success: function () {
                    location.reload();
                }
            });
            }

            function EditModalPub($idPub) {
        {%for pub in pubs%}
            if ($idPub == {{pub.getId()}}) {
            $("#EditPubEntreprise").val("{{pub.entreprise.id}}");
            $("#EditPubType").val("{{pub.type}}");
            $("#EditPubDate_debut").val("{{pub.dateDebut|date('d-m-Y')}}");
            $("#EditPubDate_fin").val("{{pub.dateFin|date('d-m-Y')}}");
            $("#EditPubPrix").val("{{pub.prix}}");
            $('#editPubTitle').html("Modifier Pub | {{pub.entreprise.nom}}");
            $("#EditPubid").val("{{pub.getId()}}");
            $("#EditPub").attr('onclick', "ModifierPub()");
            $('#editPub').modal('show');
            {% if pub.getImportance() != "Important" %}
                            $("#edit-pub-radio-type-circle1").prop('checked', false);
                            $("#edit-pub-radio-type-circle2").prop('checked', true);
                {% else %}
                            $("#edit-pub-radio-type-circle2").prop('checked', false);
                            $("#edit-pub-radio-type-circle1").prop('checked', true);
                {% endif %}
            }
        {% endfor %}
            }
            function ModifierPub() {
            $.ajax({
            type: "POST",
                    url: "{{path('edit_pub')}}",
                    data: new FormData($('#editPub').find('form')[0]),
                    processData: false,  contentType: false,  cache: false,
                    success: function () {
                    location.reload();
                    }
            });
            }
            {%endif%}
    </script>
    <script>
        $(document).ready(function () {
          Pagination("pubpagination","pubsnumber",3);
          $("#nombreaffichagepub").change(function() {
              Pagination("pubpagination","pubsnumber",$("#nombreaffichagepub option:selected").val());
          });
        });
    </script>
{% endblock %}
