{% extends 'FrontBundle::layout.html.twig' %}
{% block searchicon %}
{% endblock %}
{% block css %}
<style>
@media screen and (max-width: 520px){
.container {
     width: 100%!important; 
     margin: 0px!important; 
}
body {
     padding: 0px !important;
	}
}
	 </style>
{% block cssgame %}
{% endblock %} 
{% endblock %}
{% block search %}
{% endblock%}
{% block slide %}
{% endblock%}
{% block body %}

        <div class="col-md-9" >

            <div class="panel panel-default panel-post" >
                <div class="panel-body">
                    <div class="post">


                        <div id="activitycanvas" class="embed-responsive embed-responsive-16by9 post-thumbnail text-center" style="height: 700px">
                            {#<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vSteQ_wlB94?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                            <object width="550" height="400"><param name="movie" value="http://www.jeux-flash-gratuits.biz/games/age-of-war-2.swf">
		<embed src="http://www.jeux-flash-gratuits.biz/games/age-of-war-2.swf" width="550" height="400"></embed></object><br /><b><a href="http://www.jeux-flash-gratuits.biz/age-of-war-2+j23248.html" title="Age Of War 2" target="blank">Age Of War 2</a></b>, proposé par <b><a href="http://www.jeux-flash-gratuits.biz/" title="Les meilleurs jeux flash sur Jeux Flash Gratuits" target="blank">Jeux Flash Gratuits</a></b>
	}
                            {% include activity.chemin %#}
                            {% block game %}
                                {% endblock %}
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="az">
            <div class="col-md-3">
                <div class="widget widget-game" style="background-image: url(img/game/game-widget.jpg);">
                    <div class="overlay">
                        <div class="title">The Withcer 3: Wild Hunt</div>

                        <div class="bold text-uppercase">Platforms</div>
                        <span class="label label-primary">PS4</span>
                        <span class="label label-warning">PC</span>
                        <span class="label label-success">Xbox</span>

                        <div class="bold text-uppercase margin-top-40">Developer</div>
                        <span class="font-size-13">CD Projekt Red Studio</span>

                        <div class="bold text-uppercase margin-top-35">Release Date:</div>
                        <span class="font-size-13">June 18, 2015</span>

                        <div class="description">
                            The Witcher 3: Wild Hunt is a story-driven, next-generation open world role-playing game, set in a visually stunning fantasy universe, full of meaningful choices and impactful consequences.
                            {% if is_granted('ROLE_ADMIN') %}<a href="javascript:void(0);" data-toggle="modal" data-target="#AddCadeaumodal" class="btn btn-block btn-primary margin-top-40">Ajouter Cadeaux <i class="fa fa-heart-o margin-left-10"></i></a>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>

        <!-- Modales -->
        {% if is_granted('ROLE_ADMIN') %}
        <div class="bs-modal modal fade" id="AddCadeaumodal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Ajouter Cadeau</h4>
                    </div>
                    <div class="modal-body">
                        <form id="addcadeauform" >
                            <input id="addCadeauid" name="addCadeauid" type="hidden" value="{{activity.id}}"/>
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Libelle<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                        <input value="" name="LibelleCadeau" placeholder="Exemple : Jeton 500 exp" id="LibelleCadeau" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Nombre<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></span>
                                        <input value="" name="NombreCadeau" placeholder="Nombre de cadeau" id="NombreCadeau" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Image<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroup
">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                                        <input type='file' name="CheminCadeau" placeholder="Deposer l'image içi" id="CheminCadeau" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Type<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                                        <select id="TypeCadeau" name="TypeCadeau" class="form-control input-md" placeholder="Type cadeau">
                                                <option value="Jeton">Jeton</option>
                                                <option value="Exp">Exp</option>
                                                <option value="Reel">Reel</option>
                                                <option value="GEL">GEL</option>
                                        </select>   
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Prix<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                                        <input value="" name="PrixCadeau" placeholder="prix reel cadeau" id="PrixCadeau" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Rang<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                        <input value="" name="RangCadeau" placeholder="Rang" id="RangCadeau" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                        </form><!-- /form -->
                    </div>
                    <div class="modal-footer">
                        <input id="AddCadeauButton" class="btn btn-primary" type="button" value="ajouter un cadeau" onclick="AjouterCadeau();"/>
                    </div>


                </div>
            </div><!-- /card-container -->
        </div><!-- /container -->
        {% endif %}
    {% endblock %}
{% block javascript %}
    {% block javascriptgame %}
        {% endblock %}
    {% if is_granted('ROLE_ADMIN') %}
        <script>
            function AjouterCadeau() {
                $.ajax({
                    type: "POST",
                    url: "{{path('add_cadeau')}}",
                    processData: false, contentType: false, cache: false,
                    data: new FormData($('#addcadeauform')[0]),
                    success: function () {
                       // location.reload();
                    }
                });
            }
            {#
            function DeleteActivity($id) {
                $_data = {
                    'id': $id
                };
                $.ajax({
                    type: "POST",
                    url: "{{path('delete_activite')}}",
                    data: $_data,
                    success: function () {
                        location.reload();
                    }
                });
            }
            
            function editModalAct($idact) {
            {%for act in activites%}
                    if ($idact == {{act.getId()}}) {
                        $("#EditNomAct").val("{{act.getNom()}}");
                        $("#EditDescriptionAct").val("{{act.getDescription()}}");
                        $("#EditDateDebutAct").val("{{act.getdat_deb()|date("d/m/Y")}}");
                        $("#EditDateFinAct").val("{{act.getdat_fin()|date("d/m/Y")}}");
                        $("#EditNbrPointAct").val("{{act.getNbrPoint()}}");
                        $("#EditExpAct").val("{{act.getExperience()}}");
                        $("#EditActivityid").val("{{act.getId()}}");
                        $('#editTitleact').html("Modifier Activité | {{act.getNom()}}");


                {%if act.getActivation() == "0"%}
                            $("#Edit-radio-type-circle1").prop('checked', false);
                            $("#Edit-radio-type-circle2").prop('checked', true);
                {%elseif act.getActivation() == "1"%}
                            $("#Edit-radio-type-circle2").prop('checked', false);
                            $("#Edit-radio-type-circle1").prop('checked', true);
                {%endif%}
                            $("#EditActivity").attr('onclick', "ModifierActivity()");

                            $('#editact').modal('show');
                        }
            {% endfor %}
                }
                function ModifierActivity() {
                    $.ajax({
                        type: "POST",
                        url: "{{path('edit_activite')}}",
                        processData: false, contentType: false, cache: false,
                        data: new FormData($('#editact').find('form')[0]),
                        success: function () {
                            location.reload();
                        }
                    });
                }
                #}
        </script>
    {% endif %}
    
{% endblock %}
