{% extends 'FrontBundle::layout.html.twig' %}
{% block searchicon %}
{% endblock %}
{% block search %}
{% endblock%}
{% block slide %}
{% endblock%}
 {% block body %}
	
                                    <div class="ay">
                                        <div class="col-md-9" >

                                            <div class="panel panel-default panel-post">
                                                <div class="panel-body">
                                                    <div class="post">
                                                        

                                                        <div class="embed-responsive embed-responsive-16by9 post-thumbnail">
                                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vSteQ_wlB94?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                                        </div>

                                                        </div>
                                                </div>
                                                
                                    </div>
                                    </div>
                                    <div class="az">
                                        <div class="col-md-3">
                                            <div class="widget widget-game" style="background-image: url(img/game/game-widget.jpg);">
                                                <div class="overlay">
                                                    <div class="title">The Withcer 3: Wild Hunt</div>

                                                    <div class="bold text-uppercase">Platforms</div>
                                                    <span class="label label-primary">PS4</span>
                                                    <span class="label label-warning">PC</span>
                                                    <span class="label label-success">Xbox</span>

                                                    <div class="bold text-uppercase margin-top-40">Developer</div>
                                                    <span class="font-size-13">CD Projekt Red Studio</span>

                                                    <div class="bold text-uppercase margin-top-35">Release Date:</div>
                                                    <span class="font-size-13">June 18, 2015</span>

                                                    <div class="description">
                                                        The Witcher 3: Wild Hunt is a story-driven, next-generation open world role-playing game, set in a visually stunning fantasy universe, full of meaningful choices and impactful consequences.
                                                        <a href="#" class="btn btn-block btn-primary margin-top-40">Follow now <i class="fa fa-heart-o margin-left-10"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="widget widget-list">
                                                <div class="tab-select border-bottom-1 border-grey-300">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a href="#tabs1" data-toggle="tab">Posts</a></li>
                                                        <li><a href="#tabs2" data-toggle="tab">Forums</a></li>
                                                        <li><a href="#" data-toggle="tab">Images</a></li>
                                                    </ul>
                                                </div>
                                                <div class="tab-content">
                                                    <ul class="tab-pane fade in active" id="tabs1">
                                                        <li>
                                                            <a href="#" class="thumb"><img src="{{asset('img/blog/xs/1.jpg')}}" alt=""></a>
                                                            <div class="widget-list-meta">
                                                                <h4 class="widget-list-title"><a href="#">Overwatch Closed Beta</a></h4>
                                                                <p><i class="fa fa-clock-o"></i> September 15, 2015</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="thumb"><img src="{{asset('img/blog/xs/2.jpg')}}" alt=""></a>
                                                            <div class="widget-list-meta">
                                                                <h4 class="widget-list-title"><a href="#">Blood and Gore</a></h4>
                                                                <p><i class="fa fa-clock-o"></i> September 13, 2015</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="thumb"><img src="{{asset('img/blog/xs/3.jpg')}}" alt=""></a>
                                                            <div class="widget-list-meta">
                                                                <h4 class="widget-list-title"><a href="#">Warner Bros. Interactive</a></h4>
                                                                <p><i class="fa fa-clock-o"></i> September 12, 2015</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="thumb"><img src="{{asset('img/blog/xs/4.jpg')}}" alt=""></a>
                                                            <div class="widget-list-meta">
                                                                <h4 class="widget-list-title"><a href="#">Sharks Don't Sleep</a></h4>
                                                                <p><i class="fa fa-clock-o"></i> September 10, 2015</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="thumb"><img src="{{asset('img/blog/xs/5.jpg')}}" alt=""></a>
                                                            <div class="widget-list-meta">
                                                                <h4 class="widget-list-title"><a href="#">GTA 5 Reaches 5 Million</a></h4>
                                                                <p><i class="fa fa-clock-o"></i> September 10, 2015</p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <ul class="tab-pane fade" id="tabs2">
                                                        <li>
                                                            <a href="#" class="thumb"><img src="{{asset('img/blog/xs/1.jpg')}}" alt=""></a>
                                                            <div class="widget-list-meta">
                                                                <h4 class="widget-list-title"><a href="#">Overwatch Closed Beta</a></h4>
                                                                <p><i class="fa fa-clock-o"></i> September 15, 2015</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="thumb"><img src="{{asset('img/blog/xs/2.jpg')}}" alt=""></a>
                                                            <div class="widget-list-meta">
                                                                <h4 class="widget-list-title"><a href="#">Blood and Gore</a></h4>
                                                                <p><i class="fa fa-clock-o"></i> September 13, 2015</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="thumb"><img src="{{asset('img/blog/xs/3.jpg')}}" alt=""></a>
                                                            <div class="widget-list-meta">
                                                                <h4 class="widget-list-title"><a href="#">Warner Bros. Interactive</a></h4>
                                                                <p><i class="fa fa-clock-o"></i> September 12, 2015</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="thumb"><img src="{{asset('img/blog/xs/4.jpg')}}" alt=""></a>
                                                            <div class="widget-list-meta">
                                                                <h4 class="widget-list-title"><a href="#">Sharks Don't Sleep</a></h4>
                                                                <p><i class="fa fa-clock-o"></i> September 10, 2015</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="thumb"><img src="{{asset('img/blog/xs/5.jpg')}}" alt=""></a>
                                                            <div class="widget-list-meta">
                                                                <h4 class="widget-list-title"><a href="#">GTA 5 Reaches 5 Million</a></h4>
                                                                <p><i class="fa fa-clock-o"></i> September 10, 2015</p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="widget widget-card">
                                                <div class="title">Related Videos</div>
                                                <div class="card">
                                                    <div class="card-img">
                                                        <a href="videos-single.html"><img src="{{asset('../i1.ytimg.com/vi/tuPEam_Jt4I/mqdefault.jpg')}}" alt=""></a>
                                                        <div class="time">04:51</div>
                                                    </div>
                                                    <div class="caption">
                                                        <h3 class="card-title"><a href="videos-single.html">The Witcher 3: Wild Hunt - Official Gameplay</a></h3>
                                                        <ul>
                                                            <li><i class="fa fa-calendar-o"></i> April 13, 2016</li>
                                                            <li><i class="fa fa-eye"></i> 1500 views</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-img">
                                                        <a href="videos-single.html"><img src="{{asset('../i1.ytimg.com/vi/_UFT49qWopg/mqdefault.jpg')}}" alt=""></a>
                                                        <div class="time">02:04</div>
                                                    </div>
                                                    <div class="caption">
                                                        <h3 class="card-title"><a href="videos-single.html">The Witcher 3: Wild Hunt - The Beginning</a></h3>
                                                        <ul>
                                                            <li><i class="fa fa-calendar-o"></i> April 13, 2016</li>
                                                            <li><i class="fa fa-eye"></i> 1500 views</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-img">
                                                        <a href="videos-single.html"><img src="{{asset('../i1.ytimg.com/vi/xx8kQ4s5hCY/mqdefault.jpg')}}" alt=""></a>
                                                        <div class="time">06:33</div>
                                                    </div>
                                                    <div class="caption">
                                                        <h3 class="card-title"><a href="videos-single.html">The Witcher 3: Wild Hunt</a></h3>
                                                        <ul>
                                                            <li><i class="fa fa-calendar-o"></i> April 13, 2016</li>
                                                            <li><i class="fa fa-eye"></i> 1500 views</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-img">
                                                        <a href="videos-single.html"><img src="{{asset('../i1.ytimg.com/vi/c0i88t0Kacs/mqdefault.jpg')}}" alt=""></a>
                                                        <div class="time">11:06</div>
                                                    </div>
                                                    <div class="caption">
                                                        <h3 class="card-title"><a href="videos-single.html">bbbbbbbbbbbbbbbbbbbbb</a></h3>
                                                        <ul>
                                                            <li><i class="fa fa-calendar-o"></i> April 13, 2016</li>
                                                            <li><i class="fa fa-eye"></i> 1500 views</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-inverse btn-block">More Videos</a>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
 {% endblock %}
