{% extends 'FrontBundle::layout.html.twig' %}
{% block css %}
    <style>
.card .card-img img{
height:100%;
}
.modal-baniere_gauche{
width:50%;
height:100%;
float:left;
}
 
.modal-baniere_droite{
float:right;
width:50%;
height:100%;
}
    </style>
{% endblock css %}
{% block search %}
    <div class="modal-search">
        <div class="container">

            <div class="btn-group pull-right">
                <a href="#" class="btn btn-default"><i class="fa fa-th-large no-margin"></i></a>
                <a href="#" class="btn btn-default"><i class="fa fa-bars no-margin"></i></a>
            </div>
            <div class="recherche" style="padding-right:30%;">
                <input type="text" class="form-control hidden-xs" placeholder="Search Game...">

                <div class="dropdown" style="margin-right:10%;" > 
                    <a href="#" class="btn btn-default btn-icon-left btn-icon-right dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sort-amount-desc"></i> Sort by <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Date</a></li>
                        <li><a href="#">Score</a></li>
                        <li><a href="#">A-Z</a></li>
                    </ul>
                </div>
            </div>
            <i class="fa fa-times close"></i>
        </div>
    </div><!-- /.modal-search -->
{% endblock%}
{% block slide %}
    {% if is_granted('ROLE_ADMIN')%}
    {%else%}
        {{ parent() }}
    {% endif%}
{% endblock%}
{% block wrapper %}
    {% if is_granted('ROLE_ADMIN')%}
        <section id="boutique2ndnav" class="padding-top-25 no-padding-bottom border-bottom-1 border-grey-300" style="padding-top: 25px !important;background-color: #FFFFFF;height:60px">
            <div class="container">
                <div class="headline" style="margin-top: -16px">
                    <div class="text-center">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#addact" class="btn btn-primary btn-shadow">
                            <span class="plus icon"></span>Ajouter une activité
                        </a> 
                    </div>

                </div>
            </div>
        </section>
    {%endif%}
    <section class="bg-grey-50" style="padding-top: 1%">
        <div class="container">
            <div class="row" id="activitiesnumber">
                {%for act in activites%}
                    {% if is_granted('ROLE_ADMIN')%}
                        <div class="count col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="card">
                                <div class="card-img">
                                    <a href="{{path('actsingle',{'id':act.getId()})}}"><img src="{{asset(act.getImg())}}" alt=""></a>
                                    <div class="category"><span class="label label-success">{{act.getStatus()}}</span></div>
                                    <div class="meta"><a href="{{path('actsingle',{'id':act.getId()})}}"><i class="fa fa-sign-in"></i> <span>15</span></a></div>
                                </div>
                                <div class="caption">
                                    <div class="text-center"><h3 class="card-title"><a href="{{path('actsingle',{'id':act.getId()})}}">{{act.getNom()}}</a></h3></div>
                                    <ul><li>{{act.getDescription()}}</li></ul>

                                    <div class="text-center">
                                        {%if act.getActivation() == 0%}
                                            <a href="javascript:void(0);" class="btn btn-success btn-outline" style="" onclick="ValidationActivity({{act.getId()}});">
                                                <span class="fa fa-unlock"></span> Activer
                                            </a>
                                        {%else%}
                                            <a href="javascript:void(0);" class="btn btn-inverse btn-outline" style="padding-left: 5px;" onclick="ValidationActivity({{act.getId()}});">
                                                <span class="fa fa-lock"></span> Desactiver
                                            </a>
                                        {%endif%} 
                                        <a href="javascript:void(0);" class="btn btn-primary btn-outline" style="" onclick="editModalAct({{act.getId()}});"><span class="fa fa-pencil"></span> Modifier</a>
                                        {%if act.getStatus() != "Deleted"%}<a href="javascript:void(0);" class="btn btn-danger btn-outline" style="padding-left: 5px;" onclick="DeleteActivity({{act.getId()}});"><span class="fa fa-close"></span> Supprimer</a> {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%else%}
                        {%if not (act.getStatus() == "Desactiver" or act.getStatus() == "Deleted" ) %}
                            <div class="count col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="card">
                                    <div class="card-img">
                                        <a href="{{path('actsingle',{'id':act.getId()})}}"><img src="{{asset(act.getImg())}}" alt=""></a>
                                        <div class="meta"><a href="{{path('actsingle',{'id':act.getId()})}}"><i class="fa fa-sign-in"></i> <span>15</span></a></div>
                                    </div>
                                    <div class="caption">
                                        <div class="text-center"><h3 class="card-title"><a href="{{path('actsingle',{'id':act.getId()})}}">{{act.getNom()}}</a></h3></div>
                                        <ul><li>{{act.getDescription()}}</li></ul>
                                        <div class="text-center">
                                            <a href="{{path('actsingle',{'id':act.getId()})}}" class="button pill big primary">
                                                <span class="fa fa-play"></span> Commencer
                                            </a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
              <div class="text-center">
                <div id="activitypagination">
                </div>
                <select id="nombreaffichageactivity">
                    <option selected value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
    </section>
    {%if is_granted('ROLE_ADMIN') %}
        <!-- ---------------------- Modals ---------------------------------------------->
        <div class="bs-modal-lg modal fade" id="addact" tabindex="-1" role="dialog" aria-labelledby="addactLabel" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Ajouter une Activité</h4>
                    </div>
                    <div class="modal-body">
                        <form >
                            <div class="modal-baniere_gauche">
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Nom<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                <input value="" name="NomAct" placeholder="Exemple : Flappy bird" id="NomAct" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Description<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></span>
                                <textarea name="DescriptionAct" placeholder="faut mettre le principe du jeu içi" id="DescriptionAct" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Image<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                                <input type='file' name="ImageAct" placeholder="Deposer l'image içi" id="ImageAct" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Activer ?</label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="rdio rdio-theme circle col-md-3" style="transform: scale(0.9);margin-left: 1%;">
                                <input id="radio-type-circle1" type="radio"  name="activationAct" value="1" checked>
                                <label for="radio-type-circle1">Oui</label>
                            </div>
                            <div style="transform: scale(0.9);" class="rdio rdio-theme circle col-md-3">
                                <input id="radio-type-circle2" type="radio" name="activationAct" value="0">
                                <label for="radio-type-circle2">Non</label>
                            </div>
                        </div>
                    </div>
                                </div>
                                <div class="modal-baniere_droite">
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Date Début<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input value="{{ "now"|date("d/m/Y") }}" data-mask="39/19/2999" name="DateDebutAct" placeholder="Date début activité" id="DateDebutAct" class="form-control datepicker"  type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Date Fin<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input value="{{ "now"|date_modify("+7 day")|date("d/m/Y") }}" data-mask="39/19/2999" name="DateFinAct" placeholder="Date Fin activité" id="DateFinAct" class="form-control datepicker"  type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Coins<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                                <input value="" name="NbrPointAct" placeholder="Nombre Point Totale a Gagnée" id="NbrPointAct" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Experience<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                        <div class="col-md-6  inputGroupContainer">
                            <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                <input value="" name="ExpAct" placeholder="Experience a Gagnée" id="ExpAct" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>
                            </div>
                </form>
                            </div>
                            <div class="modal-footer">
                <input id="AddCategorieid" name="AddCategorieid" type="hidden" value="{{categorie.getId()}}"/>
                <input id="AddCategorie" class="btn btn-primary" type="button" value="ajouter une activité" onclick="AjouterActivity();"/>
                </div>
                </div>
            </div><!-- /card-container -->
        </div><!-- /container -->

        <!-- ------------------------------------------------------------------------------ -->

        <div class="bs-modal-lg modal fade" id="editact" tabindex="-1" role="dialog" aria-labelledby="addactLabel" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="editTitleact"></h4>
                    </div>
                    <div class="modal-body">
                        <form >
                            <input id="EditActivityid" name="EditActivityid" type="hidden" value=""/>
                            <div class="modal-baniere_gauche">
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Nom<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                        <input value="" name="EditNomAct" placeholder="Exemple : Flappy bird" id="EditNomAct" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Description<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></span>
                                        <textarea name="EditDescriptionAct" placeholder="faut mettre le principe du jeu içi" id="EditDescriptionAct" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Image<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                                        <input type='file' name="EditImageAct" placeholder="Deposer l'image içi" id="EditImageAct" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Activer ?</label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="rdio rdio-theme circle col-md-3" style="transform: scale(0.9);margin-left: 1%;">
                                        <input id="Edit-radio-type-circle1" type="radio"  name="EditactivationAct" value="1" checked>
                                        <label for="Edit-radio-type-circle1">Oui</label>
                                    </div>
                                    <div style="transform: scale(0.9);" class="rdio rdio-theme circle col-md-3">
                                        <input id="Edit-radio-type-circle2" type="radio" name="EditactivationAct" value="0">
                                        <label for="Edit-radio-type-circle2">Non</label>
                                    </div>
                                </div>
                            </div>
                                </div>
                            <div class="modal-baniere_droite">
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Date Début<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        <input value="" data-mask="39/19/2999" name="EditDateDebutAct" placeholder="Date début activité" id="EditDateDebutAct" class="form-control datepicker"  type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Date Fin<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        <input value="" data-mask="39/19/2999" name="EditDateFinAct" placeholder="Date Fin activité" id="EditDateFinAct" class="form-control datepicker"  type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Coins<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                                        <input value="" name="EditNbrPointAct" placeholder="Nombre Point Totale a Gagnée" id="EditNbrPointAct" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" >Experience<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                <div class="col-md-6  inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                        <input value="" name="EditExpAct" placeholder="Experience a Gagnée" id="EditExpAct" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" id="EditActivity" type="button" value="Modifier Activité"/>
                    </div>
                </div>
            </div><!-- /card-container -->
        </div><!-- /container -->
    {%endif%}
{% endblock %}
{% block javascript %}
    {%if is_granted('ROLE_ADMIN') %}
        <script>
            $(".datepicker").css("z-index", "10000");
            var menu = $('#boutique2ndnav');
            var origOffsetY = menu.offset().top;

            function scroll() {
                if ($(window).scrollTop() >= origOffsetY - 50) {
                    $('#boutique2ndnav').css({'position': 'fixed', 'width': '100%', 'top': '60px', 'z-index': '1020'});
                } else {
                    $('#boutique2ndnav').removeAttr('style');
                    $('#boutique2ndnav').css({'padding-top': '25px', 'background-color': '#FFFFFF', 'height': '60px'});

                }


            }
            scroll();
            document.onscroll = scroll;
        </script>
        <script>
            function AjouterActivity() {
                $.ajax({
                    type: "POST",
                    url: "{{path('add_activite')}}",
                    processData: false, contentType: false, cache: false,
                    data: new FormData($('#addact').find('form')[0]),
                    success: function () {
                        location.reload();
                    }
                });
            }
            function DeleteActivity($id) {
                $_data = {
                    'id': $id
                };
                $.ajax({
                    type: "POST",
                    url: "{{path('delete_activite')}}",
                    data: $_data,
                    success: function () {
                        location.reload();
                    }
                });
            }
            function ValidationActivity($id) {
                $_data = {
                    'id': $id
                };
                $.ajax({
                    type: "POST",
                    url: "{{path('activation_activite')}}",
                    data: $_data,
                    success: function () {
                        location.reload();
                    }
                });
            }

            function editModalAct($idact) {
            {%for act in activites%}
                    if ($idact == {{act.getId()}}) {
                        $("#EditNomAct").val("{{act.getNom()}}");
                        $("#EditDescriptionAct").val("{{act.getDescription()}}");
                        $("#EditDateDebutAct").val("{{act.getdat_deb()|date("d/m/Y")}}");
                        $("#EditDateFinAct").val("{{act.getdat_fin()|date("d/m/Y")}}");
                        $("#EditNbrPointAct").val("{{act.getNbrPoint()}}");
                        $("#EditExpAct").val("{{act.getExperience()}}");
                        $("#EditActivityid").val("{{act.getId()}}");
                        $('#editTitleact').html("Modifier Activité | {{act.getNom()}}");


                {%if act.getActivation() == "0"%}
                            $("#Edit-radio-type-circle1").prop('checked', false);
                            $("#Edit-radio-type-circle2").prop('checked', true);
                {%elseif act.getActivation() == "1"%}
                            $("#Edit-radio-type-circle2").prop('checked', false);
                            $("#Edit-radio-type-circle1").prop('checked', true);
                {%endif%}
                            $("#EditActivity").attr('onclick', "ModifierActivity()");

                            $('#editact').modal('show');
                        }
            {% endfor %}
                }
                function ModifierActivity() {
                    $.ajax({
                        type: "POST",
                        url: "{{path('edit_activite')}}",
                        processData: false, contentType: false, cache: false,
                        data: new FormData($('#editact').find('form')[0]),
                        success: function () {
                            location.reload();
                        }
                    });
                }
        </script>
        <script>
        $(document).ready(function () {
          Pagination("activitypagination","activitiesnumber",3);
          $("#nombreaffichageactivity").change(function() {
              Pagination("activitypagination","activitiesnumber",$("#nombreaffichageactivity option:selected").val());
          });
        });
    </script>
    {%endif %}
{% endblock %}
