{% extends 'FrontBundle::layout.html.twig' %}

{% block wrapper %}
    <section id="boutique2ndnav" class="padding-top-25 no-padding-bottom border-bottom-1 border-grey-300" style="padding-top: 25px !important;background-color: #E0E2E0;height:60px">
        <div class="container">
            <div class="headline" style="margin-top: -16px">
                <h4>Recent Games</h4>
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default"><i class="fa fa-th-large no-margin"></i></a>
                    <a href="#" class="btn btn-default"><i class="fa fa-bars no-margin"></i></a>
                </div>
                <div class="recherche" style="padding-right:30%;">
                    <input type="text" class="form-control hidden-xs" placeholder="Search Game...">

                    <div class="dropdown" style="margin-right:10%;" > 
                        <a href="#" class="btn btn-default btn-icon-left btn-icon-right dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sort-amount-desc"></i> Sort by <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Date</a></li>
                            <li><a href="#">Score</a></li>
                            <li><a href="#">A-Z</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="bg-grey-50" style="padding-top: 0px">
        <div class="container">
            <div class="row">

                {%for act in activites%}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-img">
                                <a href="{{path('actsingle',{'id':act.getId()})}}"><img src="{{asset(act.getImg())}}" alt=""></a>
                                <div class="category"><span class="label label-success">Xbox</span></div>
                                <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>15</span></a></div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="{{path('actsingle',{'id':act.getId()})}}">{{act.getNom()}}</a></h3>
                                <ul><li>{{act.getDescription()}}</li></ul>
                                <div class="text-center"><a href="{{path('actsingle',{'id':act.getId()})}}" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                            </div>
                        </div>
                    </div>
                    <h3></h3>
                    {#<h5>{{act.getcadeaux()}}</h5>
                    {{asset('img/game/menu-1.jpg')}}
                    <h5>{{act.getNbrPoint()}}</h5>
                    <h5>{{act.getexperience()}}</h5>
                    <h5>{{act.getdat_deb()}}</h5>
                    <h5>{{act.getdat_fin()}}</h5>#}
                {% endfor %}
                {#<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/1.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-success">Xbox</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>15</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Assassin's Creed Syndicate</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/2.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-warning">PC</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>6</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Witcher 3 Limited Edition</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/3.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-primary">PS4</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>6</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Last of Us Remastered</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/5.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-success">Xbox</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>32</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Grand Theft Auto 5</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/4.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-primary">PS4</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>10</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Uncharted 4 Remastered</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/6.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-danger">Steam</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>15</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Deadpool The War</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/7.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-danger">Steam</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>15</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Guardians of the Galaxy</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/8.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-success">Xbox</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>6</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Bioshock Infinite</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/9.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-warning">PC</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>6</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Grand Theft Auto 5</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/11.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-primary">PS4</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>32</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Alien Isolation</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                                </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/10.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-warning">PC</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>10</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Walking Dead</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                                <div class="card-img">
                                        <a href="games-single.html"><img src="{{asset('img/game/12.jpg')}}" alt=""></a>
                                        <div class="category"><span class="label label-success">Xbox</span></div>
                                        <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>15</span></a></div>
                                </div>
                                <div class="caption">
                                        <h3 class="card-title"><a href="games-single.html">Hitman Absolution</a></h3>
                                        <ul><li>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit</li></ul>
                                        <div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load More</a></div>
                                </div>
                        </div>
                </div>#}
            </div>

            <ul class="pagination margin-top-20" style="    margin-left: 25%;">
                <li class="disabled"><a href="#">Previous</a></li>
                <li class="disabled"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">124</a></li>
                <li><a href="#">125</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    </section>

{% endblock %}
{% block javascript %}
    <script>
        var menu = $('#boutique2ndnav');
        var origOffsetY = menu.offset().top;

        function scroll() {
            if ($(window).scrollTop() >= origOffsetY - 50) {
                $('#boutique2ndnav').css({'position': 'fixed', 'width': '100%', 'top': '60px', 'z-index': '1020'});
            } else {
                $('#boutique2ndnav').removeAttr('style');
                $('#boutique2ndnav').css({'padding-top': '25px', 'background-color': '#E0E2E0', 'height': '60px'});

            }


        }
        scroll();
        document.onscroll = scroll;
    </script>
{% endblock %}
