{% extends 'FrontBundle::layout.html.twig' %}
{%block css %}
<style>
.bordergr{
border: 1px solid #b3b3b3;
}
</style>
{%endblock %}

{%block slide %}
{%endblock %}


{%block body %}
    <div id="particles-js" style="background-image:url({{asset('img/contact-us.jpg')}});background-size: cover;background-position: center;background-repeat:no-repeat;height:300px;opacity:1;margin-top:-30px" >
    </div>
    <div id="wrapper">
        <section class="overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7" style="margin-left: 20%;">
                        <div class="title">
                            <h4><i class="fa fa-envelope"></i> Contact us</h4>
                        </div>
                        <form id="formcontact">
                            <div class="form-group">
                                <input id="emailcontact" name="emailcontact" type="text" class="form-control bordergr" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input id="sujetcontact" name="sujetcontact" type="text" class="form-control bordergr" placeholder="Sujet" required>
                            </div>
                            <div class="form-group">
                                <textarea id="messagecontact" name="messagecontact" class="form-control bordergr" rows="7" placeholder="Message"></textarea>
                            </div>
                            <div class="text-center margin-top-30">
                                <button onclick="envoyeemessage();" type="button" class="btn btn-primary btn-lg btn-rounded btn-shadow">Envoyée Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="border-top-1 border-bottom-1 border-grey-400 section no-padding no-margin">
            <div id="map" class="height-400"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3184.646969281611!2d9.660667315370745!3d37.04206297989951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDAyJzMxLjQiTiA5wrAzOSc0Ni4zIkU!5e0!3m2!1sfr!2stn!4v1504119462689" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
        </section>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{asset('plugins/particles.js-master/particles.js')}}"></script>
    <script src="{{asset('plugins/particles.js-master/js/app.js')}}"></script>
    <!-- stats.js -->
    <script src="{{asset('plugins/particles.js-master/js/lib/stats.js')}}"></script>
    <script>
        function envoyeemessage(){
             $.ajax({
                        type: "POST",
                        url: "{{path('send_message_contact')}}",
                        processData: false, contentType: false, cache: false,
                        data: new FormData($('#formcontact')[0]),
                        success: function () {
                            //location.reload();
                        }
                    });
        }
    </script>
{% endblock javascript %}