{% extends 'FrontBundle::layout.html.twig' %}

{% block css %}
    <style>
        .box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  width: 100px;
  height: 100px;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

.Inventairewrapper {
}
    </style>
    <style>
	.card .card-img img{
height:100%;
}
        .tab-content{
            border-width: 0 ; 
            border-style: 0; 
            border-color: rgba(0, 0, 0, 0); 
            -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); 
            background: rgba(0, 0, 0, 0); 
        }
        .tab-select {
            margin-left: 2%!important;
        }
        @media (max-width: 767px)
        {
            .hidden-xs {
                width: 100%!important;
            }
            .hidden-xs {
                width: 100%!important; 
            }
        }
        @media (max-width:880px){
            .profile-nav{
                height: 20%!important;
            }
        }
        @media (max-width:770px){
            .profile-nav{
                height: 20%!important;
            }
            .profile-nav .tab-select {
                display:inherit!important;
            }

        }
        @media (max-width: 990px) and (min-width:770px)
        {
            .profile-nav .tab-select {
                display:inherit!important;
                margin-left: 3%;
            }
        }
        @media (max-width: 292px){
            .profile-nav .tab-select .container {
                padding: 1%!important;

            }
            section.hero.cover .page-title {
                position: absolute;
                bottom: -35px;
                left: 35%;
                font-size: 24px;
            }
            section.hero .profile-avatar {
                left: 71px;
                bottom: -58px;
            }
        }
        @media (max-width: 1250px){
            .tab-select {
                margin-left: 2%;
            }
            .col-md-3{
                width: 19%;
                margin-left:3%;
                .hidden-xs {
                    display:inherit!important;
                }
            }
            @media (max-width: 990px) and (min-width: 767px){
                .hidden-xs {
                    display:inherit!important;
                }}
            .col-md-3{
                width: 22%;
                margin-top:3%;
            }
            @media (max-width: 767px){
                .col-md-3{
                    display:none!important;
                }
                .col-md-9 .col-sm-8{
                    margin:1%;
                    width:100%}
            }
            @media (max-width: 306px){

                .profile-avatar{

                    margin-bottom: 100px;

                    width: 150px;;
                }

            }
            @media (max-width: 460px) and (min-width: 292px){
                .container {

                    padding:1px 1px 1px 1px!important; }
                .page-title {
                    margin-bottom: 17%;
                }
            }
            @media (max-width: 460px)and (min-width: 306px){
                .profile-avatar{

                    margin-bottom: 100px;

                    width: 150px;;
                }


            }
            .tab-select {
                margin-left: 24%;
            }
            .row {
                margin-right: -15px;
                margin-left: -5%!important;
            }
            .tab-content{
                border-width: 0 ; 
                border-style: 0 ; 
                border-color: rgba(0, 0, 0, 0); 
                -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); 
                background: rgba(0, 0, 0, 0); }
            @media (max-width: 292px){
                .profile-nav .tab-select .container {
                    padding: 1%!important;

                }
                section.hero.cover .page-title {
                    position: absolute;
                    bottom: -35px;
                    left: 28%;
                    font-size: 24px;
                }
                section.hero .profile-avatar {
                    left: 71px;
                    bottom: -58px;
                }
            }

        </style>
    {% endblock %}
    {% block Dashboard %}
        <section class="hero cover hidden-xs " style="background-image: url( {% if user and  user.imagecouverture %}{{asset(user.imagecouverture)}}{% else %}{{asset('img/cover/cover-profile.jpg')}}{% endif %}); width:100%!important;">
            <div class="hero-bg"></div>



            <div class="container relative">
                <div class="page-header">
                    <div class="page-title">
                        {% if user and  user.nom != null and user.prenom%}
                            {{user.nom}} {{user.prenom}}
                        {% else %}
                            {{user.user.username}}
                        {% endif %}
                    </div>	
                    <div class="profile-avatar">
                        <div class="thumbnail" style="padding:2px 2px 2px 2px !important;">
                            <img src="{{asset(user.imageprofil)}}" style="width:100%;height: 100%" onerror="this.onerror=null;this.src='{{asset('img/user/profile.jpg')}}';">
                            <div class="" style="border:1px solid whitesmoke;background-color:black;color: whitesmoke;font-size: 12px;width: 100%;height: 100%;">
                                <form id="formphotoprofil">
                                    <label for="photoprofil" style="cursor:pointer;margin-bottom: 0px;"><i class="fa fa-camera"></i>&nbsp;&nbsp;Changer photo</label>
                                    <input type="file" id="photoprofil" name="photoprofil" style="display: none" onchange="Changerphotoprofil();" >
                                    <input type="hidden" name="photoprofilid" id="photoprofilid" value="{{user.id}}"> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="border:1px solid whitesmoke;background-color:black;color:white;float:right;margin-right:1%;z-index:20;width: 20%; cursor:pointer; ">
                <form id="formphotocouverture">
                    <label for="photocouverture" style="cursor:pointer;margin-bottom: 0px;"><i class="fa fa-camera"></i>&nbsp;&nbsp;Changer photo de couverture</label>
                    <input type="file" id="photocouverture" name="photocouverture" style="display: none" onchange="Changerphotocouverture();" >
                    <input type="hidden" name="photocouvertureid" id="photocouvertureid" value="{{user.id}}"> 
                </form>
            </div>

        </section>

        <section class="profile-nav height-50 border-bottom-1 border-grey-300  hidden-xs">
            <div class="tab-select">
                <div class="container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li {% if user and config != "config" %}class="active"{% endif %}><a href="#tabJournal" data-toggle="tab">Journal</a></li>
                        <li {% if user == null and config != "config" %}class="active"{% endif %}><a href="#tabdatapersonel" data-toggle="tab">Données Personnel</a></li>
                        <li><a href="#tabdatageneral" data-toggle="tab">Données Générale</a></li>
                        <li><a href="#tabInventaire" data-toggle="tab">Inventaire</a></li>
                        <li {% if config == "config" %}class="active"{% endif %}><a href="#tabConfiguration" data-toggle="tab">Configuration</a></li>
                        <li><a href="#tabHistorique" data-toggle="tab">Historique</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="bg-grey-50 padding-top-60 padding-top-sm-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 hidden-xs" style="margin-top:2%;">
                        <div class="widget">
                            <div class="panel panel-default">
                                <div class="panel-heading">  
                                    {% if user and user.pseudo != null and user.pseudo != "" %}
                                        {{user.pseudo}}
                                    {% else %}
                                        Fiche Personnel
                                    {% endif %}
                                </div>
                                <div class="panel-body">
                                    {% if user.description %}{{user.description}}{% endif %}
                                    <ul class="panel-list margin-top-25">
                                        <li><i class="fa fa-bitcoin"></i> GEL : {{user.coin}}</li>
                                        <li><i class="fa fa-exchange"></i> EXP : {{user.experience}}</li>
                                        <li><i class="fa fa-clock-o"></i> Membre depuis : {{user.date_membre|date('d/m/Y')}}</li>
                                        {% if user.pays %}<li><i class="fa fa-map-marker"></i> {{user.pays}}</li>{% endif %}
                                        {% if user.siteweb %}<li><i class="fa fa-link"></i> <a href="https://{{user.siteweb}}" target="_blank"> {{user.siteweb}}</a></li>{% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="widget">
                            <div class="panel panel-default">
                                <div class="panel-heading">Navigation</div>
                                <div class="panel-body no-padding">
                                    <ul class="panel-list-bordered">
                                        <li><a href="javascript:void(0);"><i class="fa fa-gamepad"></i> Games (4)</a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-film"></i> Videos (2)</a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-picture-o"></i> Galleries (3)</a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i> Events</a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-users"></i> Groups (1)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-friends">
                            <div class="panel panel-default">
                                <div class="panel-heading">Friends (34)</div>
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="javascript:void(0);" data-toggle="tooltip" title="Orb"><img src="img/user/avatar2.jpg" alt=""></a></li>
                                        <li><a href="javascript:void(0);" data-toggle="tooltip" title="Patrick"><img src="img/user/avatar3.jpg" alt=""></a></li>
                                        <li><a href="javascript:void(0);" data-toggle="tooltip" title="John"><img src="img/user/avatar4.jpg" alt=""></a></li>
                                        <li><a href="javascript:void(0);" data-toggle="tooltip" title="Michael"><img src="img/user/avatar5.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-list">
                            <div class="panel panel-default">
                                <div class="panel-heading bold">Recent Feeds</div>
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" class="thumb"><img src="img/blog/xs/1.jpg" alt=""></a>
                                            <div class="widget-list-meta">
                                                <h4 class="widget-list-title"><a href="javascript:void(0);">Overwatch Closed Beta</a></h4>
                                                <p><i class="fa fa-clock-o"></i> September 15, 2016</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="thumb"><img src="img/blog/xs/2.jpg" alt=""></a>
                                            <div class="widget-list-meta">
                                                <h4 class="widget-list-title"><a href="javascript:void(0);">Blood and Gore</a></h4>
                                                <p><i class="fa fa-clock-o"></i> September 13, 2016</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="thumb"><img src="img/blog/xs/3.jpg" alt=""></a>
                                            <div class="widget-list-meta">
                                                <h4 class="widget-list-title"><a href="javascript:void(0);">Warner Bros. Interactive</a></h4>
                                                <p><i class="fa fa-clock-o"></i> September 12, 2016</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="thumb"><img src="img/blog/xs/4.jpg" alt=""></a>
                                            <div class="widget-list-meta">
                                                <h4 class="widget-list-title"><a href="javascript:void(0);">Sharks Don't Sleep</a></h4>
                                                <p><i class="fa fa-clock-o"></i> September 11, 2016</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="thumb"><img src="img/blog/xs/5.jpg" alt=""></a>
                                            <div class="widget-list-meta">
                                                <h4 class="widget-list-title"><a href="javascript:void(0);">GTA 5 Reaches 5 Million</a></h4>
                                                <p><i class="fa fa-clock-o"></i> September 10, 2016</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-8" >
                        <div class="tab-content">
                            <div class="tab-pane {% if user and config != "config" %}fade in active{% endif %}" id="tabJournal">
                                <div class="panel panel-default margin-bottom-40">
                                    <div class="panel-body">
                                        <form id="formpostjournal">
                                        <div class="form-group">
                                            <input type="text" id="formpostjournaltitle" name="formpostjournaltitle" class="form-control " placeholder="Titre"/>
                                        </div>
                                        <div class="form-group">
                                            <textarea id="formpostjournaldescription" name="formpostjournaldescription" class="form-control" rows="4" placeholder="Exprimez vous..."></textarea>
                                        </div>
                                        <div class="btn-group pull-left">
                                            <label for="formpostjournalimage" class="btn btn-link btn-icon-left no-padding-left">
                                                <i class="fa fa-image"></i> Image
                                            </label>
                                            <input type="file" id="formpostjournalimage" name="formpostjournalimage" style="display: none" >
                                            <input type="hidden" name="formpostjournalid" id="formpostjournalid" value="{{user.id}}"> 
                                            <!--a href="javascript:void(0);" class="btn btn-link btn-icon-left"><i class="fa fa-film"></i> Video</a>
                                            <a href="javascript:void(0);" class="btn btn-link btn-icon-left"><i class="fa fa-map-marker"></i> Location</a-->
                                        </div>
                                        <button type="button" onclick="ajoutpostejournal();" class="btn btn-primary btn-icon-left pull-right"><i class="fa fa-edit"></i> Partager</button>
                                        </form>
                                    </div>
                                </div>

                                {% for elem in journal %}
                                <div class="panel panel-default panel-post">
                                    <div class="panel-body">
                                        <div class="post">
                                            <div class="post-header post-author">
                                                <a href="javascript:void(0);" class="author" data-toggle="tooltip" title="YAKUZI"><img src="img/user/avatar.jpg" alt=""></a>
                                                <div class="post-title">
                                                    <h3>{{elem.title}}</h3>
                                                    <ul class="post-meta">
                                                        <li><i class="fa fa-calendar-o"></i> {{elem.date|date('d/m/Y h:m:s')}}</li>
                                                        <!--li><a href="javascript:void(0);">#hashtag</a>, <a href="javascript:void(0);">#witcher 3</a></li-->
                                                    </ul>
                                                </div>
                                            </div>
                                            {% if elem.image %}
                                            <div class="post-thumbnail">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <img src="{{asset(elem.image)}}" onerror="this.onerror=null;this.src='{{asset('img/user/profile.jpg')}}';">
                                                    <!--iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IsDX_LiJT7E?rel=0&amp;showinfo=0" allowfullscreen></iframe-->
                                                </div>
                                            </div>
                                                    {% endif %}

                                            {{elem.description}}            
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <ul class="post-action">
                                            <li><a href="javascript:void(0);" class="active"><i class="fa fa-heart"></i> you like it (7)</a></li>
                                            <li><a href="javascript:void(0);"><i class="fa fa-comments"></i> Comments</a></li>
                                            <li><a href="javascript:void(0);"><i class="fa fa-reply"></i> share</a></li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}

                                <h4 class="page-header text-center no-padding"><i class="fa fa-clock-o"></i> February, 2016</h4>
                                
                                <h4 id="datebginmember" class="page-header text-center no-padding"><i class="fa fa-clock-o"></i> vous ete devenu membre de notre site depuis le {{user.date_membre|date('j F Y \\à g:ia')}}</h4>
                                <center><a href="javascript:void(0);" class="btn btn-primary btn-lg btn-shadow btn-rounded">Show More</a></center>
                            </div>
                            <div id="tabdatapersonel" class="tab-pane fade {% if user == null and config != "config" %}in active{% endif %}">
                                <div class="panel panel-default margin-bottom-40">
                                    <div class="panel-body">
                                        <form id="PersonnalDataForm">
                                            <input value="{{user.id}}" type="hidden" id="Personnalid" name="Personnalid" />
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Nom<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <span style="color:red;font-weight: 900"></span>
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-grain"></i></span>   
                                                        <input value="{{user.nom}}" type="text" id="Personnalnom" name="Personnalnom" required="required" class="form-control " placeholder="Votre nom de la famille" style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Prénom<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <span style="color:red;font-weight: 900"></span>
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-user"></i></span>   
                                                        <input value="{{user.prenom}}" type="text" id="Personnalprenom" name="Personnalprenom" required="required" class="form-control " placeholder="Votre prénom" style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >CIN<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <span style="color:red;font-weight: 900"></span>
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-credit-card"></i></span>   
                                                        <input value="{{user.cin}}" type="text" id="Personnalcin" name="Personnalcin" required="required" class="form-control " placeholder="Votre numero de carte d'identité" style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >date de naissance<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <span style="color:red;font-weight: 900"></span>
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-calendar"></i></span>   
                                                        <input value="{{user.date_nais|date('d-m-Y')}}" type="text" id="Personnaldatenais" name="Personnaldatenais" required="required" class="form-control datepicker" placeholder="Votre date de naissance" style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Adresse<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <span style="color:red;font-weight: 900"></span>
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-bookmark"></i></span>   
                                                        <input value="{{user.adresse}}" type="text" id="Personnaladresse" name="Personnaladresse" required="required" class="form-control " placeholder="Votre adresse" style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Numero de telephone<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <span style="color:red;font-weight: 900"></span>
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-phone"></i></span>   
                                                        <input value="{{user.numero}}" type="text" id="Personnalnum" name="Personnalnum" required="required" class="form-control " placeholder="Votre Numero" style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >pseudo</label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-tag"></i></span>   
                                                        <input value="{{user.pseudo}}" type="text" id="Personnalpseudo" name="Personnalpseudo" required="required" class="form-control " placeholder="Votre pseudo" style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="button" class="btn btn-primary btn-icon-left pull-right" onclick="SavePersonalData();"><i class="fa fa-floppy-o"></i> Sauvegarder</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="tabdatageneral" class="tab-pane fade">
                                <div class="panel panel-default margin-bottom-40">
                                    <div class="panel-body">
                                        <form id="GeneralDataForm">
                                            <input type="hidden" name="Generalid" id="Generalid" value="{{user.id}}"> 
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Civilité</label>
                                                <div class="row">
                                                    <div class="radio radio-inline">
                                                        <input type="radio" name="Generalsexe" id="Generalsexe1" {%if user.sexe == null or user.sexe == "Mr"%}checked{%endif%} value="Mr"> 
                                                        <label for="Generalsexe1">Mr</label>
                                                    </div>
                                                    <div class="radio radio-inline">
                                                        <input type="radio" name="Generalsexe" id="Generalsexe2" {%if user.sexe == "Mrs"%}checked{%endif%} value="Mrs"> 
                                                        <label for="Generalsexe2">Mrs</label>
                                                    </div>
                                                    <div class="radio radio-inline">
                                                        <input type="radio" name="Generalsexe" id="Generalsexe3" {%if user.sexe == "Mlle"%}checked{%endif%} value="Mlle"> 
                                                        <label for="Generalsexe3">Mlle</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Metier</label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-briefcase"></i></span>   
                                                        <input value="{{user.metier}}" type="text" id="Generalmetier" name="Generalmetier" required="required" class="form-control " placeholder="Votre Metier" style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Lieu de travail</label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-map-marker"></i></span>   
                                                        <input value="{{user.lieutravail}}" type="text" id="Generallieutravail" name="Generallieutravail" required="required" class="form-control " placeholder="Votre lieu de travail" style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Niveau scolaire</label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-education"></i></span>
                                                        <select id="Generalniveauscolaire" name="Generalniveauscolaire" class="form-control input-md" placeholder="Votre niveau scolaire">
                                                            <option value="bac" {%if user.niveauscolaire == "bac"%}selected="selected"{%endif%}>bac</option>
                                                            <option value="bac+1" {%if user.niveauscolaire == "bac+1"%}selected="selected"{%endif%}>bac+1</option>
                                                            <option value="bac+2" {%if user.niveauscolaire == "bac+2"%}selected="selected"{%endif%}>bac+2</option>
                                                            <option value="bac+3" {%if user.niveauscolaire == "bac+3"%}selected="selected"{%endif%}>bac+3</option>
                                                            <option value="Ingenieurie" {%if user.niveauscolaire == "Ingenieurie"%}selected="selected"{%endif%}>Ingenieurie</option>
                                                            <option value="Mastere" {%if user.niveauscolaire == "Mastere"%}selected="selected"{%endif%}>Mastere</option>
                                                            <option value="Doctorat" {%if user.niveauscolaire == "Doctorat"%}selected="selected"{%endif%}>Doctorat</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Diplôme</label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-education"></i></span>   
                                                        <input value="{{user.diplome}}" type="text" id="Generaldiplome" name="Generaldiplome" required="required" class="form-control " placeholder="Votre diplôme" style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Pays d'origine</label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-map-marker"></i></span>   
                                                        <input value="{{user.pays}}" type="text" id="Generalpays" name="Generalpays" required="required" class="form-control " placeholder="Votre pays d'origine" style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Situation amoureuse</label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-heart-empty"></i></span>
                                                        <select id="Generalsituation" name="Generalsituation" class="form-control input-md" placeholder="Votre Situation amoureuse">
                                                            <option value="Divorcé" {%if user.situation == "Divorcé"%}selected="selected"{%endif%}>Divorcé</option>
                                                            <option value="Marié" {%if user.situation == "Marié"%}selected="selected"{%endif%}>Marié</option>
                                                            <option value="Celibataire" {%if user.situation == "Celibataire"%}selected="selected"{%endif%}>Celibataire</option>
                                                            <option value="Veuf" {%if user.situation == "Veuf"%}selected="selected"{%endif%}>Veuf</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Site web</label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-link"></i></span>   
                                                        <input value="{{user.siteweb}}" type="text" id="Generalsiteweb" name="Generalsiteweb" required="required" class="form-control " placeholder="Site web heberger ou blog " style="margin-bottom:0px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Langues</label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-flag"></i></span>   
                                                        <select id="Generallangues" name="Generallangues" class="form-control input-md">
                                                            <option value="Arabe" {%if user.langues == "Arabe"%}selected="selected"{%endif%}>Arabe</option>
                                                            <option value="Français" {%if user.langues == "Français"%}selected="selected"{%endif%}>Français</option>
                                                            <option value="Anglais" {%if user.langues == "Anglais"%}selected="selected"{%endif%}>Anglais</option>
                                                            <option value="Italien" {%if user.langues == "Italien"%}selected="selected"{%endif%}>Italien</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" >Auto-description</label>
                                                <div class="col-md-8  inputGroupContainer">
                                                    <div class="input-group" style="margin-bottom:10px;border:none">
                                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-pencil"></i></span>
                                                        <textarea id="Generaldescription" name="Generaldescription" class="form-control" rows="7" placeholder="une petite résumer sur vous">{{user.description}}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary btn-icon-left pull-right" onclick="SaveGeneralData();"><i class="fa fa-floppy-o"></i> Sauvegarder</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="tabInventaire" class="tab-pane fade">
                                <div class="panel panel-default margin-bottom-40" >
                                    <div class="panel-body" >
                                        <div class="Inventairewrapper text-center" >
                                            {% for x in 1..105 %}
                                            <div class="box text-center" id="box-{{x}}" style="display: inline-flex;padding: 0px 0px 0px 0px"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tabConfiguration" class="tab-pane fade {% if config == "config" %}in active{% endif %}">
                                <div class="panel panel-default margin-bottom-40">
                                    <div class="panel-body">
                                        <form action="{{ path('user_change_password') }}" method="POST" class="fos_user_change_password">
                                            <div class="input-group" style="margin-bottom:10px">
                                                <span class="input-group-addon" ><i class="glyphicon glyphicon-lock"></i></span>
                                                <input onfocusout="" type="password" class="form-control " id="changepasswordcurrent" name="changepasswordcurrent" placeholder="mot de passe actuelle" style="margin-bottom:0px"/>
                                            </div>
                                            <div class="input-group" style="margin-bottom:10px">
                                                <span class="input-group-addon" ><i class="glyphicon glyphicon-lock"></i></span>
                                                <input onfocusout="" type="password" class="form-control " id="changepasswordnew1" name="changepasswordnew1" placeholder="nouveau mot de passe" style="margin-bottom:0px"/>
                                            </div>
                                            <div class="input-group" style="margin-bottom:10px">
                                                <span class="input-group-addon" ><i class="glyphicon glyphicon-lock"></i></span>
                                                <input onfocusout="" type="password" class="form-control " id="changepasswordnew2" name="changepasswordnew2" placeholder="repeter le nouveau mot de passe" style="margin-bottom:0px"/>
                                            </div>
                                            <div>
                                                <input type="submit" value="Changer la mot de passe" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="tabHistorique" class="tab-pane fade">
                                <ul class="timeline margin-top-40">
                                    {% for elem in historique %}
                                    <li>
                                        <div class="timeline-badge primary"></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>{{elem.description}}</h4>
                                            </div>
                                            <div class="timeline-footer">
                                                <i class="fa fa-calendar-o"></i> {{elem.date|date('d/m/Y')}}<!--May 21. 2016, 10:50 am-->
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}

                                    <li class="clearfix" style="float: none;"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8" id=""></div>
                    </div>

                </div>
            </div>
        </section>
    {% endblock %}

    {% block javascript %}
        <script>
            $('#datebginmember').html($('#datebginmember').html().replace('December', 'décembre'));
            function SavePersonalData() {
                $checkempty = CheckEmptyRequiredInput('PersonnalDataForm', 'obligatoire');
                $checknumeric1 = CheckNumeriqueInput('Personnalnum', 'obligatoire');
                $checknumeric2 = CheckNumeriqueInput('Personnalcin', 'obligatoire');


                if ($checkempty && $checknumeric1 && $checknumeric2) {
                    $.ajax({
                        type: "POST",
                        url: "{{path('save_personnal_data')}}",
                        processData: false, contentType: false, cache: false,
                        data: new FormData($('#PersonnalDataForm')[0]),
                        success: function () {
                            location.reload();
                        }
                    });
                } else {
                    alert('resoud les erreurs svp !!!');
                }
            }

            function SaveGeneralData() {

                $.ajax({
                    type: "POST",
                    url: "{{path('save_general_data')}}",
                    processData: false, contentType: false, cache: false,
                    data: new FormData($('#GeneralDataForm')[0]),
                    success: function () {
                        location.reload();
                    }
                });
            }
            function Changerphotocouverture(){
             $.ajax({
                        type: "POST",
                        url: "{{path('edit_imgcouverture')}}",
                        processData: false, contentType: false, cache: false,
                        data: new FormData($('#formphotocouverture')[0]),
                        success: function () {
                            location.reload();
                        }
                    });
            }
            
            function Changerphotoprofil(){
             $.ajax({
                        type: "POST",
                        url: "{{path('edit_imgprofil')}}",
                        processData: false, contentType: false, cache: false,
                        data: new FormData($('#formphotoprofil')[0]),
                        success: function () {
                            location.reload();
                        }
                    });
            }
        </script>
        <script>
            $i =1;
            {% for elem in inventaire %}
                {% if elem and elem.cadeau and elem.cadeau.chemin %}
        $('#box-'+$i).html("<div style='display: inline-flex;width:100px!important;height:100px!important;border:solid black 1px;'><img src='{{asset(elem.cadeau.chemin)}}' alt='' style='width:98px!important;height:99px!important;border:solid black 1px;'><div style='z-index:2;position: relative;background-color: rgba(0, 0, 0, 0.5);bottom: 0px;right: 10px;'> <span style='color: #f00;opacity:1;filter: alpha(opacity=100);'>{{elem.nombre}}</span></div></div>");
        $i = $i+1;
                {% endif %}
            {% endfor %}
        </script>
        <script>
            function ajoutpostejournal()
            {
               $.ajax({
                        type: "POST",
                        url: "{{path('poste_journal')}}",
                        processData: false, contentType: false, cache: false,
                        data: new FormData($('#formpostjournal')[0]),
                        success: function () {
                            location.reload();
                        }
                    });
            }
          
        </script>
    {% endblock javascript %}

