{% extends 'FrontBundle::layout.html.twig' %}
{% block body %}
    <section class="bg-grey-50 padding-bottom-60">
	<div class="container">
            <div class="forum">
                {% for notif in notifications %}
                    <div class="forum-group {% if notif.status != "nouveau" %}lock{% endif %}">
                        <div class="forum-icon"><i class="fa {{ notiftarget[notif.id]['icon'] }}"></i></div>
                        <div class="forum-title">
                                <h4><a href="javascript:void(0);" onclick='notificationRedirect({{notif.id}});'>{{notif.title}}</a></h4>
                                <p>{{notif.description}}</p>
                        </div>
                        <div class="col-md-3" style='float: right;margin-left: 35px;padding-top: 2px;padding-right:0px;'>
                                <a href="profile.html">
                                    <img src="{{asset(notiftarget[notif.id]['img'])}}" alt="" style='height: 50px;width: 50px;
                                        border-radius: 50%;
                                        -webkit-border-radius: 50%;
                                        float: left;
                                        margin-right: 10px;'>
                                    <h4>{{notiftarget[notif.id]['name']}}</h4>
                                </a>
                                <div style='font-size:12px;'>
                                    <span><a href="profile.html">{{notiftarget[notif.id]['type']}}</a> || {{notiftarget[notif.id]['date']|date()}}</span>
                                </div>
                        </div>
                        <div class="forum-meta">{{notif.date|date()}}</div>
                    </div>  
                {% endfor %}                
            </div>
        </div>
    </section>
{% endblock %}
