{% block cssgame %}

    <link href="{{asset('games/master2048/style/main.css')}}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{asset('games/master2048/favicon.ico')}}">
    <link rel="apple-touch-icon" href="{{asset('games/master2048/meta/apple-touch-icon.png')}}">
    <link rel="apple-touch-startup-image" href="{{asset('games/master2048/meta/apple-touch-startup-image-640x1096.png')}}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone 5+ -->
    <link rel="apple-touch-startup-image" href="{{asset('games/master2048/meta/apple-touch-startup-image-640x920.png')}}"  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone, retina -->

{% endblock %}
{% block game %}
<div class="heading">
            <h1 class="title">2048</h1>
            <div class="scores-container" >
                <div class="score-container" style="height: 57px;">0</div>
                <div class="best-container" style="height: 57px;">0</div>
            </div>
        </div>
    <div class="game-container" style="">
        <div class="game-message">
            <p></p>
            <div class="lower">
                <a class="keep-playing-button">Keep going</a>
                <a class="retry-button">Try again</a>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
            </div>
        </div>

        <div class="tile-container">

        </div>
    </div>
{% endblock %}

{% block javascriptgame %}
    <script>var gameurl = '{{path('Master2048')}}';</script>
    <script src="{{asset('games/master2048/js/bind_polyfill.js')}}"></script>
    <script src="{{asset('games/master2048/js/classlist_polyfill.js')}}"></script>
    <script src="{{asset('games/master2048/js/animframe_polyfill.js')}}"></script>
    <script src="{{asset('games/master2048/js/keyboard_input_manager.js')}}"></script>
    <script src="{{asset('games/master2048/js/html_actuator.js')}}"></script>
    <script src="{{asset('games/master2048/js/grid.js')}}"></script>
    <script src="{{asset('games/master2048/js/tile.js')}}"></script>
    <script src="{{asset('games/master2048/js/local_storage_manager.js')}}"></script>
    <script src="{{asset('games/master2048/js/game_manager.js')}}"></script>
    <script src="{{asset('games/master2048/js/application.js')}}"></script>
{% endblock %}