{% extends 'FrontBundle:Default:activity.html.twig' %}
{% block cssgame %}

    <link href="{{asset('games/master2048/style/main.css')}}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{asset('games/master2048/favicon.ico')}}">
    <link rel="apple-touch-icon" href="{{asset('games/master2048/meta/apple-touch-icon.png')}}">
    <link rel="apple-touch-startup-image" href="{{asset('games/master2048/meta/apple-touch-startup-image-640x1096.png')}}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone 5+ -->
    <link rel="apple-touch-startup-image" href="{{asset('games/master2048/meta/apple-touch-startup-image-640x920.png')}}"  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone, retina -->
<style rel='stylesheet' type='text/css'>
/* Modal Content */
#myProgress {
  width: 100%;
  background-color: #ddd;
  margin-top: -5px;
}

#myBar {
  width: 0%;
  height: 15px;
  max-width: 100%;
  background-color: #2776dc;
}

.modal1 {
    display: none; 
    position: fixed; 
    z-index: 100000; 
    padding-top: 55px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.78); /* Black w/ opacity */
}


.fermer{
margin: auto;
    padding: 20px;
	width: 90%;
}
.modal1-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
   
    width: 90%;
}

/* The Close Button */
.close1 {
    color: #aaaaaa !important;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}
/* Modal Content */
</style>
{% endblock %}
{% block slide %}
    {% if not app.user %}
        <section class="border-bottom-1 border-grey-200 padding-top-15 padding-bottom-10">
            <div class="col-md-12 text-center">    <a href="{{path('fos_user_registration_register')}}" class="btn btn-primary btn-lg btn-rounded" data-animation="animated animate10 fadeIn">Inscrivez vous maintenant</a>
            </div>
        </section>
    {% endif %}
{% endblock slide%}
{% block Dashboard %}
<div id="myModal1" class="modal1" >
<div class="fermer">
<span class="close1">&times;</span><h4 style="margin-left:40%;"><a class="count1" href="#" style="color:white; float:left;">voir toute la publicité ....</a></h4>
   </div>
  <!-- Modal content -->
  <div class="modal1-content" style="height:90%; background-color:#00000000;">
	
   <iframe id="vid"  src="https://www.youtube.com/embed/4pY3hlQEOc0?rel=0&autoplay=1&controls=0&showinfo=0" allowfullscreen style="height:100%; width=100%" autoplay onload="iframeload()"></iframe>			 
<div id="myProgress" >
  <div id="myBar"></div>
</div>
   </div>

</div>
{% block game %}
    <div class="game-container" style="float: left">
        <div class="game-message">
            <p></p>
            <div class="lower">
                <a class="keep-playing-button">Keep going</a>
                <a class="retry-button">Try again</a>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
            </div>
        </div>

        <div class="tile-container">

        </div>
    </div>
    <div class="az" style="float: right">
        <div class="col-md-12 text-center">
            <div><h1 class="title">2048</h1></div>
            <div class="scores-container" >
                <div class="score-container" style="height: 57px;">0</div>
                <div class="best-container" style="height: 57px;">0</div>
            </div>
            <div class="above-game">
                <a class="restart-button">New Game</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block descriptiongame %}
    <div class="container" >
        <div class="col-lg-8 col-md-8 col-sm-8 co-xs-12 margin-bottom-sm-30">
            <div class="panel panel-danger" style="margin-bottom:2%">
                <div class="panel-heading">
                    <h2 class="panel-title">HOW TO PLAY</h2>
                </div>
                <div class="panel-body">
                    Use your arrow keys to move the tiles. When two tiles with the same number touch, they merge into one!
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 co-xs-12 margin-bottom-sm-30">
            <div class="panel panel-warning" style="margin-bottom:2%">
                <div class="panel-heading">
                    <h3 class="panel-title">Note</h3>
                </div>
                <div class="panel-body">
                    This site is the official version of 2048. You can play it on your phone via <a href="http://git.io/2048">http://git.io/2048.</a> All other apps or sites are derivatives or fakes, and should be used with caution.</div>
            </div>
        </div>
    </div>
{% endblock %}
{% endblock%}
{% block slide %}

    <section class="border-bottom-1 border-grey-200 padding-top-15 padding-bottom-10">
        <div class="col-md-12 text-center">   {% if not app.user %} <a href="{{path('fos_user_registration_register')}}" class="btn btn-primary btn-lg btn-rounded" data-animation="animated animate10 fadeIn">Inscrivez vous maintenant</a>{% endif %}
        </div>
    </section>
	
{% endblock slide%}

{% block javascriptgame %}
<script>
function move() {
  var elem = document.getElementById("myBar");   
  var width = -10;
  var id = setInterval(frame, 1500);
  function frame() {
    if (width > 100) {
      clearInterval(id);
    } else {
      width=width+10; 
      elem.style.width = width + '%'; 
    }
  }
}
// Get the modal
var elem = document.getElementById("myBar"); 
var elem2 = document.getElementById("myProgress"); 
var modal = document.getElementById('myModal1');
var frame  = document.getElementById('vid');
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close1")[0];
var co = document.getElementsByClassName("count1")[0];
// When the user clicks the button, open the modal 
modal.style.display = "block";

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
frame.src="ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    modal.style.display = "none";
}

span.style.display='none';
co.style.display='none';
function iframeload(){
move();
setTimeout(function(){
elem.style.display='none';
elem2.style.display='none';
span.style.display='block';
co.style.display='block';
    }, 17000);
}

// When the user clicks anywhere outside of the modal, close it
</script>
    <script>var gameurl = '{{path('Master2048')}}';</script>
    <script src="{{asset('plugins/html2canvas.js')}}"></script>
    <script src="{{asset('games/master2048/js/bind_polyfill.js')}}"></script>
    <script src="{{asset('games/master2048/js/classlist_polyfill.js')}}"></script>
    <script src="{{asset('games/master2048/js/animframe_polyfill.js')}}"></script>
    <script src="{{asset('games/master2048/js/keyboard_input_manager.js')}}"></script>
    <script src="{{asset('games/master2048/js/html_actuator.js')}}"></script>
    <script src="{{asset('games/master2048/js/grid.js')}}"></script>
    <script src="{{asset('games/master2048/js/tile.js')}}"></script>
    <script src="{{asset('games/master2048/js/local_storage_manager.js')}}"></script>
    <script src="{{asset('games/master2048/js/game_manager.js')}}"></script>
    <script src="{{asset('games/master2048/js/application.js')}}"></script>
{% endblock %}